@media (max-width: 767px) {
    .input-group-merge.search-bar {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    #IconeNavbar{
        margin-left: 0px;
        margin-top: 10px;
    }

    .navbar-search{
        margin-left: 35px;
    }

    .DropdownProfile .profile-image{
        width: 30px !important;
        height: 30px !important;
        border-radius: 100%;
    }

    .PanerSidebar{
        line-height: 100vh !important;
        margin-bottom: 4vh !important;
    }

    .textFooter{
        display: flex;
        justify-content: center;
    }
    
  }
